/*.gm{
	color:hsl(0, 100%, 50%);
	/*border:2px solid red;*/
	/*border-left:2px solid red ;*/
	/*border: 2px solid red;
	/* top, right bottom left*/
	/*box-shadow: 5px 0px 5px 0px;*/
	/*margin: 2%;
	padding: 2%;
	display: flex;*/
	/*flex-direction: row-reverse;*/
	/*flex-wrap: wrap-reverse;*/
	/*justify-content: flex-end;
}
.gm>div{
	padding: 2%;
	margin:2%;
	border:2px solid blue;
	width: 20%;
}
.gm2{
	border:2px solid blue;
	display: flex;
	flex-direction: row;
	justify-content:space-evenly ;
}
.gm2>div{
	border:2px solid green;
	padding: 1%;
	width: 20%;
	flex-direction: flex-end;

}*/


/**/
.data{
	display: flex;
	border:2px solid red;
	padding: 1%;
	margin: 1%;
}
.data>div{
	width: 30%;
	border:2px solid blue;
	padding: 1%;
	margin: 1%;
	text-align: center;
	box-shadow: 10px 0px 10px 0px skyblue;
}
img{
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}
a{
	text-decoration: none;
}
h2{
	color: maroon;
}
h3{
	color: teal;
}
button{
	box-shadow: 2px 2px 2px 2px blue;
}

